.greeting {
    border: 1px solid black;
    border-radius: 3rem;
    background-color: blue;
    padding: 3rem;
    color: white;
}

.greeting table {
    background-color: white;
    color: black;
    padding: 3rem;
    border-collapse: collapse;
    width: 100%;
}
.greeting table td { 
    padding: .5rem;
    border: 1px solid black;
}